<header class="header">
  <div class="container">
    <div class="header-logo">
      <a href="http://www.inacap.cl">
        <img src="assets/img/isotipo.png" alt="INACAP" class="logo-mobile">
        <img src="assets/img/logo-inacap.png" alt="INACAP" class="logo">
      </a>
    </div>
    <div class="header-title">
      <h1><a href="../index.html">Postulación Art. 68 RA</a></h1>
    </div>
    <div class="user-info">
      <div class="user-name">
        <i class="material-icons">person</i>
        <span class="nombre"><strong></strong> {{userName}}</span>
        <!-- <p>Mar&iacute;a Jos&eacute; Ayala Rodr&iacute;guez</p> -->
      </div>
      <!-- <a (click)="exit_to_app()"><i class="material-icons ml-4">exit_to_app</i></a> -->
    </div>
  </div>
</header>