<div class="modal fade" id="ModalCostanciaPostulacion" tabindex="-1" role="dialog" aria-labelledby="Confirmar" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">Error</p>
        <a type="button" class="close" href="/Inacap.siga.FUP_Circ42/" >
          <span aria-hidden="true">&times;</span>
        </a>
      </div>
      <div class="modal-body p-0">
        <div class="row">
          <div class="col-md-12 mt-4 text-center">
            <p>
              Se ha generado y activado el Contrato Nº: {{ constancia.CONT_NCORR }}
            </p>
            <p>
              Fecha de Activación del Contrato: {{ constancia.FECHA_ACTIVACION }} 
            </p>
            <p>
              Programa de Estudios: {{ constancia.PROGRAMA_ESTUDIO }}
            </p>
            <p> Semestre: {{ constancia.PERIODO }}</p>
            <p> Sede: {{ constancia.SEDE_TDESC }} </p>
          </div>
        </div>
      </div>

      <div class="modal-footer pr-0">
        <a class="btn btn-default waves-effect waves-light" href="/Inacap.siga.FUP_Circ42/">Aceptar</a>
        <!-- <a class="btn btn-default waves-effect waves-light" data-dismiss="modal" onclick="toastr.success('Se asign&oacute; con &eacute;xito el beneficio a 22 alumnos. <br> Se han enviado los comprobantes a los correos de los alumnos.');">Aceptar</a> -->
      </div>
    </div>
  </div>
</div>