.dropdown-toggle::after{
    display: none;
}
.dropdown-menu{
    width: 100%;
}
.dropdown .dropdown-menu .dropdown-item:hover{
    background-color: #f0f0f0;
    color:#333!important;
    box-shadow: none;
}
.dropdown .dropdown-menu .dropdown-item{
    padding: .5rem!important;
}
