<div class="card mb-2" id="buscar">
  <div class="card-header">
    <h3 class="float-left h3-responsive mb-0">Buscar Alumno</h3>
    <span class="header-icons float-right">
      <button id="buscarToggle" class="btn-none toggle-expand-btn" onclick="toggleExpandCard(this);"></button>
    </span>
  </div>
  <div class="card-body">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-4">
          <div class="md-form">
            <input name="rut" placeholder="Escribir RUT" formControlName="rut" type="text" id="rut" class="form-control">
            <label class="active">RUT</label>
            <div class="invalid-feedback" [ngClass]="{'d-block': f.rut.errors}">
              Rut no válido
            </div>
            <!-- <div class="invalid-feedback" *ngIf="!formRegistry.rut">
              Este campo es requerido
            </div> -->
          </div>
        </div>
        <div class="col-md-8 pr-0">
          <button id="btnBuscar" class="btn btn-default waves-effect waves-light d-flex align-items-center justify-content-end float-right mt-4">
            <i class="material-icons mr-2">search</i>
            <span>Buscar</span>
          </button>
        </div>  
      </div>
    </form>      
  </div>
</div>

<div class="modal fade" id="ModalEstudianteBloqueado" tabindex="-1" role="dialog" aria-labelledby="Confirmar" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">Estudiante con Bloqueo</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-0" *ngIf="modalBloqueoDescription === ''; else modalDescription">
        <div class="row">
          <div class="col-md-12 mt-4">
              <p class="text-center">El estudiante presenta Bloqueo</p>
          </div>                          
        </div>                       
      </div>

      <ng-template #modalDescription>
        <div class="modal-body p-0">
          <div class="row">
                <div class="col-md-12 mt-4">
                    <p class="text-center" [innerHTML]="modalBloqueoDescription"></p>
                </div>                          
          </div>                       
      </div>
      </ng-template>
      
      <div class="modal-footer pr-0">
        <a class="btn btn-default waves-effect waves-light" data-dismiss="modal">Cerrar</a>
        <!-- <a class="btn btn-default waves-effect waves-light" data-dismiss="modal" onclick="toastr.success('Se asign&oacute; con &eacute;xito el beneficio a 22 alumnos. <br> Se han enviado los comprobantes a los correos de los alumnos.');">Aceptar</a> -->
      </div>
    </div>
  </div>
</div>