
<footer class="page-footer mt-5 footer">
  <div class="container py-3">
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-md-flex align-items-center justify-content-between w-75">
        <span>MESA DE SERVICIOS:</span>
        <a href="http://soporte.inacap.cl" class="d-flex align-items-center">
          <i class="material-icons mr-1">language</i>
          <span>soporte.inacap.cl</span>
        </a>
        <a href="mailto:ayuda@inacap.cl" class="d-flex align-items-center">
          <i class="material-icons mr-1">mail</i>
          <span>ayuda@inacap.cl</span>
        </a>
        <a href="tel:+56224305700" class="d-flex align-items-center">
          <i class="material-icons mr-1">phone</i>
          <span>+56 2 24305700  Anexo 5700</span>
        </a>
      </div>
      <div class="logo-gst"><img src="./assets/img/logo-gst.png" alt=""></div>
    </div>
  </div>
</footer>

<!-- <footer class="page-footer mt-5 footer">
  <div class="container py-3">
    <div class="d-flex align-items-center justify-content-end">
      <div class="logo-gst"><img src="assets/img/logo-gst.png" alt=""></div>
    </div>
  </div>
</footer> -->